<!doctype html> 
<html> 
    <head> 
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <link href="./../image/common.css" rel="stylesheet" type="text/css"> 
    </head>     
    <body> 
        <header></header>         
        <nav></nav>         
        <article> 
</article>         
        <aside> 
            <div id="column_right"> 
                <!--サイドメニューここから-->                 
                <br> 
                <a href="../kazokukai/index.html"> 
                    <img src="../image/menu_1.PNG" alt="2019年家族の会" onmouseover="this.src='../image/menu_sita_1.PNG'" onmouseout="this.src='../image/menu_1.PNG'"> 
                </a>                 
                <a href="../honninkai/index.html"> 
                    <img src="../image/menu_2.PNG" alt="2019年自立支援サークル" onmouseover="this.src='../image/menu_sita_2.PNG'" onmouseout="this.src='../image/menu_2.PNG'"> 
                </a>                 
                <a href="../chukansyurou/index.html"> 
                    <img src="../image/menu_3.PNG" alt="2019年若年就職困難者職場実習等" onmouseover="this.src='../image/menu_sita_3.PNG'" onmouseout="this.src='../image/menu_3.PNG'"> 
                </a>                 
                <a href="http://cscnara.blog.jp/"> 
                    <img src="./../image/menu_5.PNG" alt="ニート・ひきこもりから脱出しよう！！" onmouseover="this.src='../image/menu_sita_5.PNG'" onmouseout="this.src='./../image/menu_5.PNG'"> 
                </a>                 
                <a href="http://workwaku.ksaka.net/"> 
                    <img src="./../image/menu_6.PNG" alt="わーく・ワク" onmouseover="this.src='../image/menu_sita_6.PNG'" onmouseout="this.src='./../image/menu_6.PNG'"> 
                </a>                 
                <a href="../kazokukai/index.html" target="_parent"></a> 
                <p><a href="http://cspgschool.blog.jp/" target="_top"></a></p> 
                <div id="whatsnew"> 
                    <ul> 
                        <li> 
                            <a href="./../chukansyurou/index.html">奈良県委託『若年就職困難者職場実習等ｻﾎﾟｰﾄ事業』<br> 
        15～39才で就職に不安を抱える未就労者の方へのサポート事業です<br> 
        参加者募集中</a> 
                        </li>                         
                        <li> 
                            <a href="./../circle/index.html">『子ども・若者支援サークル』<br> 
        ニート・ひきこもりからの自立支援<br> 
        参加者募集中</a> 
                        </li>                         
                        <li> 
                            <a href="./../Questionnaire/index.html" target="_blank">貴社が求める人材に関するアンケートお願い</a> 
                        </li>                         
                    </ul>                     
                </div>                 
                <ul id="csschool"> 
                    <li id="title2"> 
                        <img src="./../image/side_title.jpg" alt="CSスクール" height="109" width="240"> 
                    </li>                     
                    <li> 
                        <a href="./../school/index.html" target="_parent"><br>本部・橿原新ノ口校</a> 
                    </li>                     
                </ul>                 
                <br> 
                <div id="side_computer"> 
                    <p>パソコンのトラブル<br> 相談はこちらへ </p> 
                </div>                 
                <img src="./../image/menu_7.PNG" alt="ニート・ひきこもりから脱出しよう！！" onmouseover="this.src='../image/menu_sita_7.PNG'" onmouseout="this.src='./../image/menu_7.PNG'"> 
                <a href="http://otasuke6776.web.fc2.com/index.html"> </a> 
            </div>             
            <!-- サイドメニューここまで -->             
        </aside>         
        <footer></footer>         
    </body>     
</html>