<!doctype html> 
<html> 
    <head> 
        <%= @page.get_head() %> 
    </head>     
    <body> 
        <header>
            <%= @page.get_header() %>
        </header>         
        <nav>
            <%= @page.get_nav() %>
        </nav>         
        <article>
            <%= @page.get_article() %>
        </article>         
        <aside>
            <%= @page.get_aside() %>
        </aside>         
        <footer>
            <%= @page.get_footer() %>
        </footer>         
    </body>     
</html>