<!doctype html> 
<html> 
    <head> 
        <%= @head %> 
    </head>     
    <body> 
        <header>
            <%= @header %>
        </header>         
        <nav>
            <%= @nav %>
        </nav>         
        <article>
         <div class="left2">
            <%= self.get_article() %>
            </div>
        </article>         
        <aside>
        <div class="left1">
            <%= @aside %>
            </div>
        </aside>         
        <footer>
            <%= @footer %>
        </footer>         
    </body>     
</html>