<!doctype html> 
<html> 
    <head> 
        <%= @head %> 
<style>
.reset {
    clear: both;
}

.left1 {
    width: 20%;
    float: left;
}

.left2 {
    width: 60%;
    float: left;
}

.right {
    width: 20%;
    float: right;
}
</style>
    </head>     
    <body>
        <div class="page">
            <header>
                <%= @header %>
            </header>             
            <nav>
                <div id="wrapper">
                    <%= @nav %>
            </nav>             
            <article>
                <div class="left1">
                    <!--ダミー-->                     
                </div>
                <div class="left2">
                    <%= self.get_article() %>
                </div>
            </article>             
            <aside>
                <div class="right">
                    <%= @aside %>
                </div>
            </div>
        </div>
    </div>
</aside> 
<footer>
    <%= @footer %>
</footer>
</body>     
</html>