<!doctype html> 
<html> 
    <head> 
        <%= @head %> 
        <style>
.reset {
    clear: both;
}

.left1 {
    width: 20%;
    float: left;
}

.left2 {
    width: 80%;
    float: left;
}</style>
    </head>     
    <body> 
        <header>
            <%= @header %>
        </header>         
        <nav>
            <%= @nav %>
        </nav>         
        <article>
            <div class="left1">
                <%= self.get_article() %>
            </div>
        </article>         
        <aside>
            <div class="left2">
                <%= @aside %>
            </div>
        </aside>         
        <footer>
            <%= @footer %>
        </footer>         
    </body>     
</html>