
<div id="foot_wrapper">
<div id="footer">
  <dl>
    <dt>CSスクール</dt>
    <dd><a href="http://cscnara.ksaka.net/school.html" target="_parent">橿原
        新ノ口校</a></dd>
    <dd><a href="http://cscnara.ksaka.net/school.html" target="_parent">奈良
        大安寺校</a></dd>
  </dl>
  <ul>
    <li><a href="http://cscnara.ksaka.net/pasokonn.html" target="_parent">パ
        ソコンなら青年お助け隊</a></li>
    <li><a href="http://cscnara.ksaka.net/counseling.html" target="_parent">相
        談・カウンセリング</a></li>
  </ul>
  <ul>
    <li><a href="http://cscnara.ksaka.net/outline.html">団体概要</a></li>
    <li><a href="http://cscnara.ksaka.net/admission.html" target="_parent">ご
        支援・入会のお願い</a></li>
    <li><a href="http://cscnara.ksaka.net/link.html" target="_parent">リンク集</a></li>
    <li><a href="http://cscnara.ksaka.net/sitemap.html" target="_parent">サ
        イトマップ</a></li>
    <li><a href="http://cscnara.ksaka.net/contact.html" target="_parent">お
        問合せ</a></li>
  </ul>
  <p><img src="./../image/footer_title.jpg" alt="NPO法人キャリアサポートセンター奈良" height="60"

      width="256" /> </p>
</div>
</div>
<img src="./../image/001.jpg" alt="奈良若者サポートステーション" height="1" width="1" />
</html>

<p style="text-align: center"><%= Time.now.strftime("%Y-%m-%d %H:%M:%S (%A)") %></p>
</html>
