<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja"><head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <meta name="keywords" content="職業訓練, 奈良, 橿原, 就職活動,就職, ニート, ＮＰＯ法人">
        <meta name="description" content="キャリアサポートセンター奈良では、就職相談や随時パソコンを使った職業訓練を実施しています。ニート自立支援の強い味方です。">        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>職業訓練・ニート支援　ＮＰＯ法人キャリアサポートセンター奈良(ＣＳＣ奈良)　リンク集</title>
        <link rel="stylesheet" type="text/css" href="image_files/reset-min.css">
        <!--[if lte IE 7]>
        <link rel="stylesheet" media="all" type="text/css" href="stacklayout_lte_ie7.css" />
        <![endif]-->
        <link rel="stylesheet" media="handheld, only screen and (max-width: 767px)" type="text/css" href="image_files/mockup_mobile.css">
        <link href="image_files/common.css" rel="stylesheet" type="text/css">

        <link rel="shortcut icon" href="http://www16.ocn.ne.jp/~cscnara/images/favicon.ico">

   <script type="text/javascript" async="" src="image_files/ga.js"></script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23234148-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style></head>


    <body class="page">


<div id="wrapper">
  <div id="header">
    <h1 id="title"> <a href="http://cscnara.ksaka.net/index.html" target="_parent"><img src="image_files/main_logo.jpg" alt="NPO法人キャリアサポートセンター奈良" width="452" height="112"></a> </h1>
    <div id="right">
      <ul>
		<li id="index"><a href="http://cscnara.ksaka.net/index.html">トップページ</a></li>
        <li id="contact"><a href="http://cscnara.ksaka.net/contact.html"></a></li>

        <li id="menu_sitemap"><a href="http://cscnara.ksaka.net/sitemap.html" target="_parent"></a></li>

      </ul>
      <p>本部：橿原新ノ口校<br>
        奈良県橿原市葛本町307-12　アメニティ24-20A<br>
        TEL&amp;FAX:0744-29-6776<br>
        メールアドレス : npo-cscnara@celery.ocn.ne.jp</p>
    </div>
    <h2>求職者支援訓練・パソコンの技術提供、指導を通じて、就業のあらゆる問題をサポートします。</h2>
  </div>
  <div id="column_left"><!-- #BeginLibraryItem "/Library/sub-glo_menu.lbi" -->     <ul id="sub_menu">
     <li id="outline"><a href="http://cscnara.ksaka.net/outline.html" target="_parent"><img src="image_files/menu_outline.jpg" alt="団体概要" width="75" height="35"></a></li>
     <li id="admission"><a href="http://cscnara.ksaka.net/admission.html" target="_parent"><img src="image_files/menu_admission.jpg" alt="ご支援・入会のご案内" width="153" height="35"></a></li>
     <li id="link"><a href="http://cscnara.ksaka.net/link.html"><img src="image_files/menu_link.jpg" alt="リンク集" width="78" height="35"></a></li>
    </ul>


    <ul id="glo_menu">
       <li id="school"><a href="http://cscnara.ksaka.net/school.html" target="_parent"><img src="image_files/menu_csschool.jpg" alt="職業訓練・CSスクール" width="99" height="60"></a></li>
     <li id="pasokon"><a href="http://cscnara.ksaka.net/pasokonn.html" target="_parent"><img src="image_files/menu_computer.jpg" alt="パソコンなら青年おたすけ隊" width="103" height="60"></a></li>
     <li id="counseling"><a href="http://cscnara.ksaka.net/counseling.html" target="_parent"><img src="image_files/menu_Counseling.jpg" alt="相談・カウンセリング" width="118" height="60"></a></li>
     <li id="circle"><a href="http://cscnara.ksaka.net/circle.html" target="_parent"><img src="image_files/menu_circle.jpg" alt="ニート脱出サークル" width="86" height="60"></a></li>
    </ul><!-- #EndLibraryItem --><div id="con_wrapper">

  <h4 class="letter_title">就職へ踏み出しにくい方へ</h4>
  <ul class="link">
    <li><a href="http://www.pref.nara.jp/dd_aspx_menuid-1649.htm" target="_blank">奈良県青少年・生涯学習課</a></li>
    <li><a href="http://www.pref.nara.jp/1664.htm" target="_blank">奈良県雇用政策課</a></li>
    <li><a href="http://www.chuokai-nara.or.jp/nara-saposute/" target="_blank">なら若者サポートステーション</a></li>
    <li><a href="http://www.neet-support.net/" target="_blank">ニートサポートネット</a></li>
    </ul>

  <h4 class="letter_title">再就職先を見つけたい方へ</h4>

  <ul class="link">
    <li><a href="https://www.hellowork.go.jp/" target="_blank">ハローワーク</a>　・・・・再就職のあっせんだけでなく、新卒者の就職もサポートしています</li>
    <li><a href="http://www.jinzainews.co.jp/" "="" target="_blank">人材ニュースナビ</a>　・・・主に奈良県内の求職が集められています。新卒者向けの情報も</li>
    <li><a href="http://re-katsu.jp/" target="_blank">re就活</a>　・・・20代・第二新卒向けの就職・転職情報が載っています</li>
    <li><a href="http://career.nikkei.co.jp/" target="_blank">日経キャリアネット</a></li>
    <li><a href="http://rikunabi-next.yahoo.co.jp/rnc/docs/cp_s00010.jsp?__r=1" target="_blank">リクナビNEXT</a></li>
    <li><a href="http://employment.en-japan.com/" target="_blank">enジャパン</a></li>
    <li><a href="http://tenshoku.mynavi.jp/" target="_blank">マイナビ転職</a></li>
  </ul>


  <h4 class="letter_title">新卒者・学生の方へ</h4>
  <ul class="link">
    <li><a href="http://www.kansyuken.com/" target="_blank">関西学生就職指導研究所</a>　・・・関西を中心とした新卒向けのサイト</li>
  <li><a href="http://www.gakujo.ne.jp/" target="_blank">学情ナビ</a></li>
  <li><a href="http://dream-match.jp/index.html">DREAM MATCH PROJECT</a></li>
  </ul>

  <h4 class="letter_title">その他</h4>
  <ul class="link">
    <li><a href="http://www.jinzai-info.net/" target="_blank">リクルート人材サービスインフォメーションネット</a>　・・・採用担当者向け</li>
    <li></li>
    <li><a href="http://bm.find-job.net/" target="_blank">Find Job!ビジネスマナーテスト</a>　・・・就職活動についてのマナーがクイズ形式で学べます</li>
    <li><a href="http://www.js88.com/" target="_blank">JS日本の学校</a>　・・・各種学校の情報</li>
    <li><a href="http://kokoro.mhlw.go.jp/" target="_blank">こころの耳</a>　・・・働く人のメンタルヘルス・ポータルサイト</li>
    </ul>
  </div>
</div>


 <div id="column_right">




     <!--ここから-->
<br>
 <div id="banner_zone">

<div id="banner_hikikomori">
<a href="http://cscnara.ksaka.net/kazokukai.html" target="_parent"><img src="image_files/kazokunokaibanner.jpg" alt="平成30年ひきこもりセミナー"><!--家族の会--></a>
<a href="http://cscnara.ksaka.net/honninkai.html" target="_parent"><img src="image_files/honnninnbanner.jpg" alt="平成30年ひきこもりセミナー"><!--家族の会--></a>
</div>


<p id="banner_chukan"><!--<img src="images/290728.png" width="100%">--><a href="http://cscnara.ksaka.net/chukansyurou.html" target="_parent"><img src="image_files/banner_chukan.png" alt="平成30年若年就職困難者職場実習等"><!--中間就労--></a></p>


<p id="banner_jiritu"><!--子供の自立 パンフレット-->

     <br><br></p><p id="banner_blog"><a href="http://cscnara.blog.jp/">blog</a></p><br>
<p></p>
</div>





<div class="bannerbox">
<p><a href="http://workwaku.ksaka.net/" target="_top"><img src="image_files/workwaku.png" alt=""></a></p>
</div>
 <div class="bannerbox">
 <p><a href="http://cspgschool.blog.jp/" target="_top"><img src="image_files/pgschool.png" alt=""></a></p>
</div>

<div id="whatsnew">

  <ul>

  <li><a href="http://cscnara.ksaka.net/chukansyurou.html">奈良県委託『若年就職困難者職場実習等ｻﾎﾟｰﾄ事業』<br>

15～39才で就職に不安を抱える未就労者の方へのサポート事業です<br>
 参加者募集中</a></li>

<li><a href="http://cscnara.ksaka.net/circle.html">H29『子ども・若者支援サークル』<br>

ニート・ひきこもりからの自立支援<br>
 参加者募集中</a></li>

 <li><a href="http://cscnara.ksaka.net/Questionnaire.html" target="_blank">貴社が求める人材に関するアンケートお願い</a></li>



  </ul>

  </div>





  <ul id="csschool">

    <li id="title2"><img src="image_files/side_title.jpg" alt="CSスクール" width="240" height="109"></li>

    <li><a href="http://cscnara.ksaka.net/school.html" target="_parent">本部・橿原新ノ口校</a></li>

    <li><a href="http://cscnara.ksaka.net/school.html" target="_parent">奈良大安寺校</a></li>

  </ul>



<div id="side_computer">

 <p>パソコンのトラブル<br>

   相談はこちらへ</p>

 <a href="http://otasuke6776.web.fc2.com/index.html" target="_blank"><img src="image_files/banner_computer.gif" alt="パソコンなら青年お助け隊" width="141" height="136"></a>

 </div>

 </div>

     <!--ここまで-->


  <div id="foot_wrapper">
  <div id="footer">

    <dl>
      <dt>CSスクール</dt>
      <dd><a href="http://cscnara.ksaka.net/school.html" target="_parent">橿原新ノ口校</a></dd>
      <dd><a href="http://cscnara.ksaka.net/school.html" target="_parent">奈良大安寺校</a></dd>
    </dl>
    <ul>
      <li><a href="http://cscnara.ksaka.net/pasokonn.html" target="_parent">パソコンなら青年お助け隊</a></li>
      <li><a href="http://cscnara.ksaka.net/counseling.html" target="_parent">相談・カウンセリング</a></li>
    </ul>
    <ul>
      <li><a href="http://cscnara.ksaka.net/outline.html">団体概要</a></li>
      <li><a href="http://cscnara.ksaka.net/admission.html" target="_parent">ご支援・入会のお願い</a></li>
      <li><a href="http://cscnara.ksaka.net/link.html" target="_parent">リンク集</a></li>
      <li><a href="http://cscnara.ksaka.net/sitemap.html" target="_parent">サイトマップ</a></li>
      <li><a href="http://cscnara.ksaka.net/contact.html" target="_parent">お問合せ</a></li>
    </ul>
    <p><img src="image_files/footer_title.jpg" alt="NPO法人キャリアサポートセンター奈良" width="256" height="60"> </p>

    </div>
  </div>



</div></body></html>
