<!doctype html> 
<html> 
    <head> 
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <link href="./../image/common.css" rel="stylesheet" type="text/css"> 
    </head>     
    <body> 
        <header></header>         
        <nav></nav>         
        <article> 
            <div id="column"> 
                <div id="column_left"> 
                    <!-- 原稿-->                     
                    <!-- 原稿-->                     
                </div>
            </div>             
        </article>         
        <aside></aside>         
        <footer></footer>         
    </body>     
</html>