<?xml version="1.0"?>
<packages>
    <!-- GUIをインストール -->
    <package id="ChocolateyGUI" />
	<!-- 基本をインストール -->
    <package id="directx" />
    <package id="vcredist2005" />
    <package id="vcredist2008" />
    <package id="vcredist2010" />
    <package id="vcredist2012" />
    <package id="vcredist2013" />
    <package id="windowsupdate.disableautorestart" />
    <package id="silverlight" />
    <package id="flashplayeractivex" />
    <package id="flashplayerplugin" />
    <package id="sourcecodepro" />
    <package id="koruri" />
    <package id="ubuntu.font" />
	<!-- IMEの代わり -->
    <package id="googlejapaneseinput" />
	<!-- EDITERのインストール -->
    <package id="notepadplusplus" />
    <package id="Atom" />
	<!-- DVDFabのインストール -->
	<package id="ImgBurn"googlejapaneseinput" />
	<!-- 開発環境 -->	
    <package id="javaruntime" />
    <package id="java.jdk" />
    <package id="jdk8" />
	<package id="VMware Workstation" />
	<package id="virtualbox" />
	<!-- CAD -->
    <package id="jw_cad" />
	<!-- 情報の共有 -->
    <package id="evernote" />
    <package id="googledrive" />
	<!-- 動画関係 -->
    <package id="vlc" />
    <package id="HandBrake" />
    <package id="CDex" />
    <package id="K-LiteCodecPackFull" />
    <package id="MusicBee" />
    <package id="DVDFab" />
	<package id="VidCoder" />
	<!-- マインドマップ -->
    <package id="FreeMind" />
	<!-- 画像関係 -->
    <package id="gimp" />
    <package id="irfanview" />
    <package id="PDF-XChangeViewer" />
    <package id="XnView" />
	<package id="Kindle" />
	<!-- 音楽関係 -->
	<package id="foobar2000" />
    <package id="Exact Audio Copy" />
    <package id="Gracenoto" />
    <package id="UTAU" />
	<!-- オフィス -->
    <package id="LibreOffice" />
    <package id="CubePDF" />
    <package id="CubePDFUtility" />
    <package id="PDF-XChangeEditor" />
    <package id="FastCopy" />
	<!-- メンテナンス -->	
    <package id="ccleaner" />
    <package id="defraggler" />
	<!-- 圧縮解凍 -->
    <package id="7-zip" />
	<package id="Lhasa" />
	<!-- ネットワーク関係 -->
    <package id="wget" />
    <package id="curl" />
	<package id="filezilla" />
    <package id="FreeDownloadManager" />
    <package id="qBittorrent" />
	<!-- セキュリティー -->
    <package id="sudo" />
    <package id="tor" />
    <package id="privoxy" />
	<!-- ウイルス -->	
    <package id="Avira Free Antivirus" />
	<!-- マルウエア -->	
    <package id="Unchecky" />
    <package id="spybot" />
	<!-- シェル -->
    <package id="MobaXTerm" />
</packages>