<html> 
    <head> 
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <link href="./../image/common.css" rel="stylesheet" type="text/css"> 
    </head>     
    <body> 
        <footer>
        <div id="foot_wrapper"> 
            <div id="footer"> 
                <dl> 
                    <dt>CSスクール</dt> 
                    <dd>
                        <a href="../school/index.html" target="_parent">橿原新ノ口校</a>
                    </dd>                     
                </dl>                 
                <ul> 
                    <li>
                        <a href="../pasokonn/index.html" target="_parent">パソコンなら青年お助け隊</a>
                    </li>                     
                    <li>
                        <a href="../counseling/index.html" target="_parent">相談・カウンセリング</a>
                    </li>                     
                </ul>                 
                <ul> 
                    <li>
                        <a href="../outline/index.html">団体概要</a>
                    </li>                     
                    <li>
                        <a href="../admission/index.html" target="_parent">ご支援・入会のお願い</a>
                    </li>                     
                    <li>
                        <a href="../link/index.html" target="_parent">リンク集</a>
                    </li>                     
                    <li>
                        <a href="../sitemap/index.html" target="_parent">サイトマップ</a>
                    </li>                     
                    <li>
                        <a href="../contact/index.html" target="_parent">お問合せ</a>
                    </li>                     
                </ul>                 
                <p><img src="../image/footer_title.jpg" alt="NPO法人キャリアサポートセンター奈良" height="60" width="256"> </p> 
            </div>             
        </div>         
        <p style="text-align: center">&lt;%= Time.now.strftime("%Y-%m-%d %H:%M:%S (%A)") %&gt;</p> 
    </footer>
    </body>     
</html>
