<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja"><head>

     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="keywords" content="青少年, 若者, 自立, 支援, 子ども, 青少年自立支援, 職業訓練, 奈良, 橿原, 就職活動,就職, ニート,フリーター,ひきこもり,子ども若者支援,居場所, ＮＰＯ法人"><meta name="description" content="キャリアサポートセンター奈良では、就職相談や随時パソコンを使った職業訓練を実施しています。ニート・ひきこもり状態の若者の自立支援の強い味方です。"><meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>職業訓練・ニート支援　ＮＰＯ法人キャリアサポートセンター奈良(ＣＳＣ奈良)</title>

       

        <link rel="stylesheet" type="text/css" href="moto_files/reset-min.css">

        <!--[if lte IE 7]>

        <link rel="stylesheet" media="all" type="text/css" href="stacklayout_lte_ie7.css" />

        <![endif]-->

        <link rel="stylesheet" media="handheld, only screen and (max-width: 767px)" type="text/css" href="moto_files/mockup_mobile.css">

        <link href="moto_files/common.css" rel="stylesheet" type="text/css">

    

         <link rel="shortcut icon" href="http://www16.ocn.ne.jp/~cscnara/images/favicon.ico">

    

    <script type="text/javascript" async="" src="moto_files/ga.js"></script><script type="text/javascript">



  var _gaq = _gaq || [];

  _gaq.push(['_setAccount', 'UA-23234148-1']);

  _gaq.push(['_trackPageview']);



  (function() {

    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();



</script>

    

    <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style></head>

    

    

    <body class="page">

    

    

<div id="wrapper">





  <div id="header">

    <h1 id="title"> <a href="http://cscnara.ksaka.net/index.html" target="_parent"><img src="moto_files/main_logo.jpg" alt="NPO法人キャリアサポートセンター奈良" width="452" height="112"></a> </h1>

    <div id="right">

      <ul>
		<li id="index"><a href="http://cscnara.ksaka.net/index.html">トップページ</a></li>
        <li id="contact"><a href="http://cscnara.ksaka.net/contact.html"></a></li>
        <li id="menu_sitemap"><a href="http://cscnara.ksaka.net/sitemap.html" target="_parent"></a></li>
      </ul>

      <p>本部：橿原新ノ口校<br>

        奈良県橿原市葛本町307-12　アメニティ24-20A<br>

        TEL&amp;FAX:0744-29-6776<br>

        メールアドレス : npo-cscnara@celery.ocn.ne.jp</p>

    </div>

    <h2>求職者支援訓練・パソコンの技術提供、指導を通じて、就業のあらゆる問題をサポートします。</h2>

  </div>

  

  

<div id="column">

  

  <div id="column_left">

    <ul id="sub_menu">

      <li id="outline"><a href="http://cscnara.ksaka.net/outline.html" target="_parent">団体概要</a></li>

      <li id="admission"><a href="http://cscnara.ksaka.net/admission.html" target="_parent">ご支援・入会のご案内</a></li>

      <li id="link"><a href="http://cscnara.ksaka.net/link.html">リンク集</a></li>

    </ul>

    

    

    <ul id="glo_menu">

      <li id="school"><a href="http://cscnara.ksaka.net/school.html" target="_parent">職業訓練・CSスクール</a></li>

      <li id="pasokon"><a href="http://cscnara.ksaka.net/pasokonn.html" target="_parent">パソコンなら青年おたすけ隊</a></li>

      <li id="counseling"><a href="http://cscnara.ksaka.net/counseling.html" target="_parent">相談・カウンセリング</a></li>

      <li id="circle"><a href="http://cscnara.ksaka.net/circle.html" target="_parent">ニート脱出サークル</a></li>

    </ul>

    <div class="top_message" id="con_wrapper">

<h4 class="letter_title">■ニート・ひきこもりの方の就職を応援します！</h4>
<!--<a href="images/news/syuurousiennA4_2.pdf" target="_blank"><img src="images/syuurousiennA4_2.png" width="100%" alt="ニート・ひきこもりの方の就職を応援します！" /></a>-->
<!--<img src="images/2018_7_itakukunnrennnew2.jpg" alt="NPO法人キャリアサポートセンター奈良 ハロートレーニング H30年7月開講 パソコン財務会計科" />-->

<!--<div class="ranrakur">
<p>パソコン初級者程度対象の講習です。<br />応募受付期間6月8日まで<br/>
詳細は<a href="images/news/2018_7_itakukunnrennnew.pdf" target="_blank">こちら（PDF）</a>をご覧ください。 </p>
</div>--><p></p>

<br>
<p>現在、奈良県委託事業として、ひきこもり当事者への居場所提供型支援事業や若年就職困難者職場実習等サポート事業を実施しています。奈良県内の方で、ニート・ひきこもり状態からの自立を目指される皆様をサポートしています。
お気軽にお問い合わせください。
<br>npo-cscnara@celery.ocn.ne.jp</p>


<p class="long_padding">卒業年ごとに求人倍率が変動し新卒入社が難しくなっている一方、<br>

    １年以内で辞める新入社員の数も高い水準で推移しています。<br>

    また、二―トやフリータ―の数も一向に減ってきません。 <br>

    若者に対する雇用環境は必ずしも好転しているとは言い難いですね。<br>

    「リストラ　肩たたき　失業　成果主義　賃金格差　年齢制限　<br>

    年金受給までの空白　老後不安」<br>

    これらは、中高年の方が現在抱いている不満や不安を<br>

    表す言葉ではないでしょうか。<br>

    年齢を問わず働き手のみなさんは、<br>

    「まだまだ将来が見えてこない！このままでいいのだろうか？」と<br>

    不安な毎日を過ごされておられるのではないでしょうか?<br>

    <br>

    私たちは、こういった方たちの“すてきな、あした”を実現するお手伝いをしています。</p>

  <p class="goto_outline"><a href="http://cscnara.ksaka.net/outline.html" target="_parent">つづきはこちらから</a></p>

</div>




<div id="index_bottom_news">

<div id="index_news">



  <p><a href="http://cscnara.ksaka.net/circle.html">ニート脱出サークル説明会開催</a></p>

</div>

    

 </div>


 </div>

 

 <div id="column_right">

 
     <!--ここから-->
<br>
 <div id="banner_zone">

<div id="banner_hikikomori">
<a href="http://cscnara.ksaka.net/kazokukai.html" target="_parent"><img src="moto_files/kazokunokaibanner.jpg" alt="平成30年ひきこもりセミナー"><!--家族の会--></a>
<a href="http://cscnara.ksaka.net/honninkai.html" target="_parent"><img src="moto_files/honnninnbanner.jpg" alt="平成30年ひきこもりセミナー"><!--家族の会--></a>
</div>


<p id="banner_chukan"><!--<img src="images/290728.png" width="100%">--><a href="http://cscnara.ksaka.net/chukansyurou.html" target="_parent"><img src="moto_files/banner_chukan.png" alt="平成30年若年就職困難者職場実習等"><!--中間就労--></a></p>


<p id="banner_jiritu"><!--子供の自立 パンフレット-->

     <br><br></p><p id="banner_blog"><a href="http://cscnara.blog.jp/">blog</a></p><br>
<p></p>
</div>





<div class="bannerbox">
<p><a href="http://workwaku.ksaka.net/" target="_top"><img src="moto_files/workwaku.png" alt=""></a></p>
</div>
 <div class="bannerbox">
 <p><a href="http://cspgschool.blog.jp/" target="_top"><img src="moto_files/pgschool.png" alt=""></a></p>
</div>

<div id="whatsnew">

  <ul>

  <li><a href="http://cscnara.ksaka.net/chukansyurou.html">奈良県委託『若年就職困難者職場実習等ｻﾎﾟｰﾄ事業』<br>

15～39才で就職に不安を抱える未就労者の方へのサポート事業です<br>
 参加者募集中</a></li>
 
<li><a href="http://cscnara.ksaka.net/circle.html">H29『子ども・若者支援サークル』<br>

ニート・ひきこもりからの自立支援<br>
 参加者募集中</a></li>

 <li><a href="http://cscnara.ksaka.net/Questionnaire.html" target="_blank">貴社が求める人材に関するアンケートお願い</a></li>



  </ul>

  </div>

  

  

  <ul id="csschool">

    <li id="title2"><img src="moto_files/side_title.jpg" alt="CSスクール" width="240" height="109"></li>

    <li><a href="http://cscnara.ksaka.net/school.html" target="_parent">本部・橿原新ノ口校</a></li>

    <li><a href="http://cscnara.ksaka.net/school.html" target="_parent">奈良大安寺校</a></li>

  </ul>

  

<div id="side_computer">

 <p>パソコンのトラブル<br>

   相談はこちらへ</p>

 <a href="http://otasuke6776.web.fc2.com/index.html" target="_blank"><img src="moto_files/banner_computer.gif" alt="パソコンなら青年お助け隊" width="141" height="136"></a>

 </div>

 </div>

     <!--ここまで-->


</div>  

  <div id="foot_link">

    <ul>

      <li><a href="http://www.pref.nara.jp/dd_aspx_menuid-1649.htm" target="_blank"><img src="moto_files/banner_naraprefecture.jpg" alt="奈良県青少年生涯学習課" width="129" height="42"><br>

      奈良県青少年・生涯学習課</a></li>



        

       <li><a href="http://www.chuokai-nara.or.jp/nara-saposute/" target="_blank"><img src="moto_files/banner_supportstation.jpg" alt="奈良若者サポートステーション" width="127" height="55"><br>

       奈良 若者サポートステーション</a></li>

       

       

       <li><a href="http://miminashi.iinaa.net/" target="_blank"><img src="moto_files/banner_miminashichiiki.jpg" alt="みみなし地域学級" width="94" height="106"><br>

     みみなし地域学級</a></li>

      

      <li>

<a href="http://www.city.kashihara.nara.jp/shiminkyodo/index.html" target="_blank"><img src="moto_files/banner_kyoudou.gif" alt="橿原協働のひろば" width="161" height="69"><br>橿原市　協働のひろば</a></li>



    </ul>

  </div>



</div>





  <div id="foot_wrapper">

  <div id="footer">



    <dl>

      <dt>CSスクール</dt>

      <dd><a href="http://cscnara.ksaka.net/school.html" target="_parent">橿原新ノ口校</a></dd>

      <dd><a href="http://cscnara.ksaka.net/school.html" target="_parent">奈良大安寺校</a></dd>

    </dl>

    <ul>

      <li><a href="http://cscnara.ksaka.net/pasokonn.html" target="_parent">パソコンなら青年お助け隊</a></li>

      <li><a href="http://cscnara.ksaka.net/counseling.html" target="_parent">相談・カウンセリング</a></li>

    </ul>

    <ul>

      <li><a href="http://cscnara.ksaka.net/outline.html">団体概要</a></li>

      <li><a href="http://cscnara.ksaka.net/admission.html" target="_parent">ご支援・入会のお願い</a></li>

      <li><a href="http://cscnara.ksaka.net/link.html" target="_parent">リンク集</a></li>

      <li><a href="http://cscnara.ksaka.net/sitemap.html" target="_parent">サイトマップ</a></li>

      <li><a href="http://cscnara.ksaka.net/contact.html" target="_parent">お問合せ</a></li>

    </ul>

    <p><img src="moto_files/footer_title.jpg" alt="NPO法人キャリアサポートセンター奈良" width="256" height="60"> </p>

    

    </div>

  </div>
<img src="moto_files/001.jpg" alt="奈良若者サポートステーション" width="1" height="1">
    



</body></html>